<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/forsi.css}">
  <link rel="stylesheet" th:href="@{/opretForm.css}">
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}">
  <title>Title</title>
</head>
<body>
<div class="page">
  <div class="nav">
    <img id="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/BILABONNEMENT_rgb_m2nbaw.svg" alt="logo">
    <h2>**</h2>
    <div class="section">
      <a href="/lejeaftale/dataregForsiden">
        <img src="/images/database.png">
        <h3>Dataregistrering</h3>
      </a>
    </div>
    <div class="section">
      <a href="/">
        <img src="/images/tools.png">
        <h3>Skade&Udbedring</h3>
      </a>
    </div>
    <div class="section">
      <a href="/forretningsudvikler/udlejet">
        <img src="/images/briefcase.png">
        <h3>Forretningsudvikler</h3>
      </a>
    </div>
  </div>
  <div class="main-content">
    <h2>Dataregistrering</h2>
    <div class="main-buttons">
      <a href="">
        <button>Alle udlejede</button>
      </a>
      <a href="">
        <button>Registrering</button>
      </a>
      <a href="">
        <button id="active">Biler</button>
      </a>
      <a href="">
        <button>Rapporter</button>
      </a>
    </div>
    <div class="create-container">
      <div class="create-form">
        <h3>Opret Lejeaftale</h3>
        <div class="form">
          <form th:action="@{/lejeaftale/create}" method="post">
            <label>
              Kunde Nr:
              <input type="text" th:field="${lejeaftale.kunde_nr}">
            </label>
            <label>
              Stelnummer:
              <input type="text" th:field="${lejeaftale.stelnummer}">
            </label>
            <label>
              Start Dato:
              <input type="date" th:field="${lejeaftale.start_dato}">
            </label>
            <label>
              Slut Dato:
              <input type="date" th:field="${lejeaftale.slut_dato}">
            </label>
            <label>
              Pris:
              <input type="number" th:field="${lejeaftale.pris}">
            </label>
            <label for="afhentningsted">
              Afhentningsted:
              <select name="afhentningsted" id="afhentningsted">
                <option value="DS">DS</option>
                <option value="BIL">BIL</option>
              </select>
            </label>


            <button type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>