<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Lejeaftale</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
  <h1>Create Lejeaftale</h1>
  <form action="#" th:action="@{/lejeaftale/create}" th:object="${lejeaftale}" method="post">
    <label for="kunde_nr">Kunde Nr:</label>
    <input type="text" id="kunde_nr" name="kunde_nr" th:field="*{kunde_nr}" required>
    <br>
    <label for="stelnummer">Stelnummer:</label>
    <input type="text" id="stelnummer" name="stelnummer" th:field="*{stelnummer}" required>
    <br>
    <label for="start_dato">Start Dato:</label>
    <input type="date" id="start_dato" name="start_dato" th:field="*{start_dato}" required>
    <br>
    <label for="slut_dato">Slut Dato:</label>
    <input type="date" id="slut_dato" name="slut_dato" th:field="*{slut_dato}" required>
    <br>
    <label for="pris">Pris:</label>
    <input type="number" id="pris" name="pris" th:field="*{pris}" required>
    <br>
    <button type="submit">Create</button>
  </form>
</body>
</html>