<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/forsi.css}">
  <link rel="stylesheet" th:href="@{/table.css}">
  <link rel="stylesheet" th:href="@{/opretForm.css}">
  <link rel="stylesheet" th:href="@{/Forretningsudvikler/redigerBil.css}">
  <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
  <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
  <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}">
  <title>Title</title>
</head>
<body>
<div class="page">
  <div class="nav">
    <img id="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/BILABONNEMENT_rgb_m2nbaw.svg" alt="logo">
    <h2>**</h2>
    <div class="section">
      <a href="/">
        <img src="/images/database.png">
        <h3>Dataregistrering</h3>
      </a>
    </div>
    <div class="section">
      <a href="/">
        <img src="/images/tools.png">
        <h3>Skade&Udbedring</h3>
      </a>
    </div>
    <div class="section">
      <a href="/forretningsudvikler">
        <img src="/images/briefcase.png">
        <h3>Forretningsudvikler</h3>
      </a>
    </div>
  </div>
  <div class="main-content">
    <h2>Forretningsudvikler</h2>
    <div class="main-buttons">
      <a href="/forretningsudvikler/udlejet">
        <button>Alle udlejede</button>
      </a>
      <a href="/forretningsudvikler/tilgængelig">
        <button>Alle tilgængelige</button>
      </a>
      <a href="/forretningsudvikler/opret_bil">
        <button>Opret bil</button>
      </a>
      <a href="">
        <button>Biler</button>
      </a>
      <a href="">
        <button>Rapporter</button>
      </a>
    </div>
    <div class="dynamic-content">
        <div class="container">
          <h3 th:text="${car.mærke} + ' ' + ${car.model}"></h3>
          <form th:action="@{'/forretningsudvikler/edit_car'}"  method="post">
            <label>
              Stelnummer:
              <input type="hidden" th:field="*{car.stelnummer}">
              <span th:text="${car.stelnummer}"></span>
            </label>
            <label>
              Brand:
              <input type="text" th:field="*{car.mærke}">
            </label>
            <label>
              Model:
              <input type="text" th:field="*{car.model}">
            </label>
            <label>
              Brændstof:
              <input type="text" th:field="*{car.brandstof}">
            </label>
            <label>
              Odometer:
              <input type="number" th:field="*{car.odometer}">
            </label>
            <label>
              Leasing price:
              <input type="hidden" th:field="*{car.pris}">
              <span th:text="${car.pris}"></span>
            </label>
            <label>
              Status:
              <input type="hidden" th:field="*{car.bilStatus}">
              <span th:text="${car.bilStatus}"></span>
            </label>
            <!--
            <label for="bilStatus">
              Status:
              <select name="bilStatus" id="bilStatus">
                <option value="Tilgængelig">Tilgængelig</option>
                <option value="Utilgængelig">Utilgængelig</option>
                <option value="Udlejet">Udlejet</option>
              </select>
            </label>
            -->
            <div class="table-buttons">
                <button>Gem</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

</body>
</html>