.main-content {
    justify-content: center;
    flex-wrap: wrap;
}
.banner-header {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.banner-header img{
    margin-bottom: 20px;
    width: 50%;
}
.banner-header h1 {
    margin-bottom: 50px;
}