#active {
    border-color: #549cc4;
}
ul {
    list-style-type: none;
}
.right thead td:last-child {
    display: flex;
    justify-content: center;
}
.right {
    width: 100%;
}
.dynamic-content {
    display: flex;
    margin: 0 auto;
    gap: 40px;
}
.left {
    margin-top: 20px;
}

