<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/forsi.css}">
  <link rel="stylesheet" th:href="@{/table.css}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

  <title>Dataregistrering</title>
</head>
<body>
<div class="page">
  <div class="nav">
    <img id="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/BILABONNEMENT_rgb_m2nbaw.svg" alt="logo">

      <h2>**</h2>


    <div class="section">
      <a href="/lejeaftale/dataregForsiden">
        <img src="/images/database.png">
        <h3>Dataregistrering</h3>
      </a>
    </div>
    <div class="section">
      <a href="/">
        <img src="/images/tools.png">
        <h3>Skade&Udbedring</h3>
      </a>
    </div>
    <div class="section">
      <a href="/forretningsudvikler">
        <img src="/images/briefcase.png">
        <h3>Forretningsudvikler</h3>
      </a>
    </div>
  </div>
  <div class="main-content">
    <h2>Dataregistrering</h2>

    <a th:href="@{/lejeaftale/create}">
      <button class="btn-createlejeaftale btn" id="btn-createlejeaftale">Opret en ny lejeaftale</button>
    </a>
    <div class="dynamic-content">
      <table>
        <thead>
          <tr>
            <th>Lejeaftale ID</th>
            <th>Kunde Nr</th>
            <th>Stelnummer</th>
            <th>Start Dato</th>
            <th>Slut Dato</th>
            <th>Pris</th>
            <th>Afhentningsted</th>
            <td>Action</td>



          </tr>
        </thead>
        <tbody>
          <tr th:each="lejeaftale : ${lejeaftaler}">
            <td th:text="${lejeaftale.lejeaftale_id}"></td>
            <td th:text="${lejeaftale.kunde_nr}"></td>
            <td th:text="${lejeaftale.stelnummer}"></td>
            <td th:text="${lejeaftale.start_dato}"></td>
            <td th:text="${lejeaftale.slut_dato}"></td>
            <td th:text="${lejeaftale.pris}"></td>
            <td th:text="${lejeaftale.afhentningsted}"></td>

            <td id="table-buttons">
              <a th:href="@{'view/' + ${lejeaftale.lejeaftale_id}}">
                <img th:src="@{/images/view.png}" alt="edit">
              </a>
            <td/>


          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>
