<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapport Oversigt</title>
    <link rel="stylesheet" th:href="@{/forsi.css}">
    <link rel="stylesheet" th:href="@{/table.css}">
    <link rel="stylesheet" th:href="@{/rapportStyle.css}">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap}">
</head>
<body>
<header>
    <h1>Rapport Oversigt</h1>
</header>

<main>

    <section th:each="rapport : ${rapporter}">
        <h2>Rapport Detaljer</h2>
        <p><strong>ID:</strong> <span th:text="${rapport.rapportID}"></span></p>
        <p><strong>Beskrivelse:</strong> <span th:text="${rapport.beskrivelse}"></span></p>
        <p><strong>Oprettelsesdato:</strong> <span th:text="${rapport.oprettetDato}"></span></p>
        <p><strong>Stelnummer:</strong> <span th:text="${rapport.stelnummer}"></span></p>
        <br>
    </section>
</main>

<footer>
    <a href="/rapporter/">Tilbage til Oversigt</a>
</footer>
</body>
</html>
